node_modules/
.env
.vscode/
.DS_Store
dev.db
*.db
*.db-journal
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.log
*.swp
*.swo
prisma/migrations/
prisma/migrations_*backup*/
logs/

# Docker
server.pid
server.log
init-scripts/
readmes/*.db